body{
    margin: 0;
    padding: 0;
    background-color: black;
    border: 0;
}

/* nav   */
nav div a img{
    width : 30px;
    height: auto;
}


/* linea color celeste de separacion*/
.hr{
 background-color: rgb(29, 140, 214) ;   
}


/* color card */
.card{
    background-color:rgb(29, 140, 214);
    color: white;
}

/* tamaño imagen carrucel*/
.carousel-item {
    width: 100%;
}

/* fondo imagen quines somos con icon*/
.fondo{
    background-color: rgb(29, 140, 214);
}


/*fondo color footer*/
footer{
    background-color: rgb(29, 140, 214);
}

