:root{
     --montserrat : 'Montserrat', sans-serif;
     --roboto :  'Roboto', sans-serif;
     
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    border: 0;
   
}



/* nav   */
nav div a {
    font-family:var(--montserrat);
}

nav div a img{
    
    width : 30px;
    height: auto;
}


/*section*/

section{
    font-family: var(--roboto);
}


/* linea color celeste de separacion*/
.hr{
 background-color: rgb(29, 140, 214) ;   
}


/* color card */
.card{
    background-color:rgb(29, 140, 214);
    color: white;
    font-family: var(--montserrat);
}

/* tamaño imagen carrucel*/
.carousel-item {
    width: 100%;
}

/*contacto*/

#contacto{
    font-family: var(--roboto);
}

/* fondo imagen quines somos con icon*/
.fondo{
    background-color: rgb(29, 140, 214);
}


/*fondo color footer*/
footer{
    font-family: var(--montserrat);
    background-color: rgb(29, 140, 214);
}

nav.active {
    background:rgba(8, 8, 8, 0.555);
  }


 